.container {
    max-width: 1300px;
}

button {
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    width: 90px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s;  

    border-radius: 5px;
}

button:hover {
    box-shadow: #3A4D39 3px 3px 7px;
}


.question-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}