<div class="container w-full mx-auto py-24">
  <div class="text-center text-gray-600 leading-8">
    <div class="quizz-page">
      <h2 class="text-4xl font-Inter font-black italic">
        Question {{ this.currentQuestion.id }} /
        {{ this.totalNumberOfQuestions }}
      </h2>

      <app-quiz-question [question]="currentQuestion"></app-quiz-question>

      <button
        class="buttonPrev bg-white"
        *ngIf="this.currentQuestion.id > 1"
        (click)="onPrev()"
      >
        <span>Prev</span>
      </button>
      <button
        class="buttonNext bg-white"
        *ngIf="this.currentQuestion.id < totalNumberOfQuestions"
        (click)="onNext()"
      >
        <span>Next</span>
      </button>
    </div>
  </div>
</div>
