

    <ul style="text-align: center;">
        <li>
            - site web : reseauactionclimat.org (20 Mars 2023), Synthèse du 6e rapport du GIEC : l’urgence climatique est là, les solutions aussi :
            <br>
            <a class="text-green-600" href="https://reseauactionclimat.org/synthese-du-rapport-du-giec-lurgence-climatique-est-la-les-solutions-aussi/">Synthèse du 6e rapport du GIEC : l’urgence climatique est là, les solutions aussi</a>
        </li><br><br>
        <li>
            - site web : reseauactionclimat.org (05 Décembre 2022), Biodiversité et climat : même combat :
            <br>
            <a class="text-green-600" href="https://reseauactionclimat.org/biodiversite-et-climat-meme-combat/">Biodiversité et climat : même combat</a>
        </li><br><br>
        <li>
            - site web : futura-sciences.com (9 Novembre 2022), Quelle est l'empreinte carbone d'un e-mail ? :
            <br>
            <a class="text-green-600" href="https://www.futura-sciences.com/planete/questions-reponses/eco-consommation-empreinte-carbone-e-mail-10840/#chaque-francais-stocke-10000-a-50000-demails-inuti">Quelle est l'empreinte carbone d'un e-mail ?</a>
        </li><br><br><li>
            - site web : bonpote.com (16 July 2020), Climat : les 12 excuses de l’inaction, et comment y répondre :
            <br>
            <a class="text-green-600" href="https://bonpote.com/climat-les-12-excuses-de-linaction-et-comment-y-repondre/">Climat : les 12 excuses de l’inaction, et comment y répondre</a>
        </li><br><br><li>
            - site web : ipcc.ch , Global Warming of 1.5 ºC :
            <br>
            <a class="text-green-600" href="https://www.ipcc.ch/sr15/">Global Warming of 1.5 ºC</a>
        </li><br><br><li>
            - site web : climat.cned.fr , 1 - Changement climatique :
            <br>
            <a class="text-green-600" href="https://climat.cned.fr/formations/changement-climatique/">1 - Changement climatique</a>
        </li>
    </ul>
    
    
    

