<div class="container w-full mx-auto py-20">
  <div class="text-center text-gray-600 leading-8">
    <h1 class="text-4xl underline italic font-Inter font-black uppercase">
      À propos :
    </h1>
    <div class="text-left">
      <p class="py-10">
        L'équipe <a class="hover:underline" href="">404 Gragas Not Found</a> est
        une équipe composée de 6 étudiants en troisième année de licence, dont 5
        en informatique et un en mathématiques. Voulant découvrir un nouveau
        framework JS, nous avons décidé de faire ce projet en Angular, sans
        qu'aucun de nous ne l'ait jamais utilisé au préalable.
      </p>
      <h2 class="text-xl pb-4">
        En plus du défi principal (et obligatoire) de la nuit, nous avons choisi
        5 autres défis :
      </h2>
      <ul class="list-disc pl-24">
        <li>
          <a
            class="hover:underline"
            href="https://www.nuitdelinfo.com/inscription/defis/395"
            >Rendez-vous des Génies de l'Accessibilité Appliquée (RGAA) de
            MIPIH</a
          >
        </li>
        <li>
          <a
            class="hover:underline"
            href="https://www.nuitdelinfo.com/inscription/defis/393"
            >Où est Charlie ? de Capgemini</a
          >
        </li>
        <li>
          <a
            class="hover:underline"
            href="https://www.nuitdelinfo.com/inscription/defis/399"
            >Last XMas de Capcod</a
          >
        </li>
        <li>
          <a
            class="hover:underline"
            href="https://www.nuitdelinfo.com/inscription/defis/413"
            >Jeu de rythme de Rhythm Freaks</a
          >
        </li>
        <li>
          <a
            class="hover:underline"
            href="https://www.nuitdelinfo.com/inscription/defis/392"
            >Jeu Thèmes ! de Viveris</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
