<div class="navigation-container">
  <img src="../../assets/forest.jpg" class="navigation-background" />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1440"
    height="1849"
    viewBox="0 0 1440 1849"
    fill="none"
    class="navigation-corner"
  >
    <path d="M0 0H380L1440 1849H0V0Z" fill="#3A4D39" />
    <path
      d="M0 0H380L1440 1849H0V0Z"
      fill="url(#paint0_linear_12_7)"
      fill-opacity="0.2"
    />
    <defs>
      <linearGradient
        id="paint0_linear_12_7"
        x1="720"
        y1="-1.23423e-06"
        x2="720"
        y2="1849"
        gradientUnits="userSpaceOnUse"
      >
        <stop />
        <stop offset="0.25" stop-color="#2DA647" />
        <stop offset="0.963542" stop-color="#41FF6B" />
      </linearGradient>
    </defs>
  </svg>
  <div class="navigation-title title-1">Growth</div>
  <div class="navigation-title title-2">Green</div>
  <div class="navigation-title title-3">Gragas</div>
  <a class="navigation-buttons button-one"   routerLink=""
  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Accueil </a>
  <a class="navigation-buttons button-two"  routerLink="debunk"
  routerLinkActive="active"> Débunk </a>
  <a class="navigation-buttons button-three" routerLink="bibliographie"
  routerLinkActive="active"> Biblio </a>
  <a class="navigation-buttons button-four"    routerLink="about"
  routerLinkActive="active"> À propos </a>

  <nav class="classic-navigation">
    <div class="classic-logo">
      <div class="classic-navigation-title c-title-1">Growth</div>
      <div class="classic-navigation-title c-title-2">Green</div>
      <div class="classic-navigation-title c-title-3">Gragas</div>
    </div>
    <a
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="classic-navigation-buttons c-btn-1" 
    >
      Accueil
    </a>
    <a
      routerLink="debunk"
      routerLinkActive="active"
      class="classic-navigation-buttons c-btn-1"
    >
      Débunk
    </a>
    <a
      routerLink="bibliographie"
      routerLinkActive="active"
      class="classic-navigation-buttons c-btn-1"
    >
      Biblio
    </a>
    <a
      routerLink="about"
      routerLinkActive="active"
      href=""
      class="classic-navigation-buttons c-btn-1"
    >
      À propos
    </a>
  </nav>
</div>
