.title{
    text-align: center;
}

.gifGrag {
    box-sizing: border-box;
    width: 75%;
    margin: 20px auto;
    padding: 10px 30px;
    text-align: center;
}

.gifGrag img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}