<div class="debunk-page" style="padding-top: 100px;">
    <ul>
        <li>Vérifiez les Sources Primaires : Privilégiez les informations provenant de sources primaires telles que des études scientifiques, des rapports d'organisations environnementales reconnues, et des données provenant d'institutions scientifiques officielles.</li>

        <li>Croisez les Informations : Consultez plusieurs sources indépendantes pour vérifier la cohérence des informations. Si différentes sources de confiance confirment les mêmes faits, il est probable que l'information soit fiable.</li>

        <li>Méfiez-vous des Titres Sensationnalistes : Les titres exagérés ou sensationnalistes sont souvent un indicateur de contenu non fiable. Prenez le temps de lire l'article complet pour comprendre le contexte réel.</li>

        <li>Vérifiez la Date de Publication : Les problématiques environnementales évoluent, et les informations peuvent devenir obsolètes. Assurez-vous que les données que vous consultez sont récentes et toujours pertinentes.</li>

        <li>Consultez des Sites de Fact-Checking : Utilisez des sites spécialisés dans la vérification des faits tels que Snopes, FactCheck.org, ou Climate Feedback. Ces sites peuvent vous aider à identifier les informations erronées.</li>

        <li>Recherchez la Neutralité : Méfiez-vous des sites web ou des articles qui présentent un biais évident ou qui ont des affiliations politiques ou économiques. Les informations objectives et neutres sont souvent plus fiables.</li>

        <li>Vérifiez les Auteurs : Assurez-vous que les auteurs des articles ont des qualifications ou une expertise dans le domaine traité. Les articles signés par des experts dans leur domaine sont généralement plus crédibles.</li>

        <li>Utilisez des Ressources Académiques : Les publications académiques, les revues scientifiques, et les sites universitaires sont des sources fiables. Cherchez des articles issus de la recherche académique pour des informations de qualité.</li>

        <li>Suivez les Organisations de Confiance : Restez informé en suivant des organisations environnementales de confiance, des agences gouvernementales dédiées à l'environnement, et des institutions scientifiques reconnues.</li>

        <li>Éduquez-vous sur les Sujets Environnementaux : Plus vous avez de connaissances sur les enjeux environnementaux, plus vous serez en mesure de discerner les informations erronées. Restez informé grâce à des cours, des livres, des conférences, et des sources éducatives fiables.</li>
    </ul>
</div>
