<div class="content">
    <span>

        <h1>Pourquoi lutter contre le réchauffement climatique ?</h1>
        <p>Si vous pensez qu'il est impossible d'agir contre le réchauffement climatique, vous vous trompez. La réalité
            est que chaque individu peut contribuer à la lutte contre ce phénomène mondial alarmant. Le réchauffement
            climatique résulte en grande partie de nos choix de vie et de nos activités quotidiennes. Reconnaître cette
            responsabilité individuelle est la première étape vers un changement significatif.</p>
        <h1>Que faire pour réduire son impact carbone et lutter contre le réchauffement climatique ?</h1>
        <p>Même de petites actions peuvent avoir un impact considérable. Vous pouvez commencer par évaluer votre
            empreinte carbone en utilisant l'outil disponible sur le site <a href="https://nosgestesclimat.fr/?lang=fr"
                target="_blank">nos gestes climat</a>. Une fois que vous avez calculé votre empreinte, vous serez en
            mesure d'identifier les activités de votre vie quotidienne qui génèrent le plus de CO2. Ces activités
            peuvent ensuite faire l'objet d'ajustements et de changements. Que ce soit en réduisant votre consommation
            d'énergie, en optant pour des modes de transport plus durables ou en faisant des choix alimentaires
            éco-responsables, chaque geste compte dans la construction d'un avenir plus durable pour notre planète.</p>
    </span>
    <span>
        <app-quiz-component [quizIndex]="indexForQuiz"></app-quiz-component>
    </span>
</div>