<div class="content">
  <h2 class="welcome-message">
    Bienvenue sur le site NDI 2023 de 404 Gragas Not Found !
  </h2>
  <span>
    <h3 class="text-xl font-bold">
      Pourquoi lutter contre le réchauffement climatique ?
    </h3>
    <p>
      Si vous pensez que agir contre le réchauffement climatique est une mission
      impossible, détrompez-vous. La réalité est que chaque individu a le
      pouvoir de contribuer à la lutte contre ce phénomène mondial alarmant. Le
      réchauffement climatique découle en grande partie de nos modes de vie et
      de nos activités quotidiennes. Reconnaître cette responsabilité
      individuelle constitue la première étape cruciale vers un changement
      significatif.
    </p>
    <h3 class="text-xl font-bold">
      Que faire pour réduire son impact carbone et lutter contre le
      réchauffement climatique ?
    </h3>
    <p>
      Même de petites actions peuvent avoir un impact considérable. Vous avez le
      pouvoir de débuter votre engagement en évaluant votre empreinte carbone
      grâce à l'outil disponible sur le site
      <a class="text-blue-600 hover:underline cursor-pointer"
        >nos gestes climat</a
      >. Une fois votre empreinte évaluée, vous pourrez identifier les activités
      de votre vie quotidienne qui génèrent le plus de CO2. Ces activités
      peuvent ensuite faire l'objet d'ajustements et de changements. Que ce soit
      en réduisant votre consommation d'énergie, en optant pour des modes de
      transport plus durables, ou en faisant des choix alimentaires
      éco-responsables, chaque geste compte dans la construction d'un avenir
      plus durable pour notre planète.
    </p>
  </span>
  <hr class="border border-black my-7" />
  <h3 class="text-xl font-bold pt-4">
    Voici un petit quiz pour tester vos connaissances sur ce sujet complexe !
  </h3>
  <span>
    <app-quiz-component [quizIndex]="indexForQuiz"></app-quiz-component>
  </span>
</div>
