<div class="pt-10">
  <h2 class="text-2xl font-bold">{{ question.title }}</h2>

  <div class="flex flex-wrap justify-center py-10">
    <div *ngFor="let answer of question.answers" class="w-1/2">
      <button
        (click)="isAnswerCorrect(answer)"
        [disabled]="question.choosedAnswer"
        class="text-lg font-semibold text-left w-3/4 p-8 m-2 shadow-xl shadow-gray-300 rounded-lg hover:duration-300 hover:shadow-[#3A4D39] bg-white"
      >
        <span
          *ngIf="
            question.choosedAnswer === answer &&
            isAnswerCorrect(question.choosedAnswer)
          "
        >
          <span>
            <i class="fa-solid fa-circle-check text-green-600 text-3xl pr-1" style=" vertical-align: middle;"></i>
          </span>
        </span>
        <span
          *ngIf="
            question.choosedAnswer === answer &&
            !isAnswerCorrect(question.choosedAnswer)
          "
        >
          <span>
            <i class="fa-solid fa-circle-xmark text-red-600 text-3xl pr-1" style=" vertical-align: middle;"></i>
          </span>
        </span>

        {{ answer }}
      </button>
    </div>
  </div>

  <div
    class="correctAnswer"
    *ngIf="question.choosedAnswer && !isAnswerCorrect(question.choosedAnswer)"
  >
    <p class="text-lg underline">Réponse correcte :</p>
    {{ question.correctAnswer }}
  </div>
</div>
